@import "main.css";

.main-info {
    display: flex;
    flex-direction: column;

    width: 70%;
    padding: 4em;
}

.main-info__text {
    font-weight: 900;
    font-size: 4rem;

    max-width: 65%;
}

.main-info__btn {
    align-self: center;
    padding: 0.5em;
    margin-top: 2em;

    font-size: 2rem;
    text-align: center;
}