.place {
    background: var(--color-dark);
    overflow: scroll;

    margin: 10px;

    border-radius: 0.7em;
    box-shadow: inset 5px 5px 8px var(--color-inner-shadow-dark),
    inset -5px -5px 8px var(--color-inner-shadow-dark);
}

.workplace {
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-auto-columns: 1fr 1fr 1fr;
}

.workplace__board {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.workplace__character {
    grid-row-start: 1;
    grid-column-start: 3;

    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.character__image {
    max-width: 10em;
    justify-self: end;
    position: relative;
}

.workplace__tools {
    grid-row-start: 2;
    grid-column-start: 3;

    background: var(--color-dark);

    display: flex;
    flex-direction: column;

    gap: 1em;
    max-height: 100%;

    padding: 1rem;
}

.block {
    background: var(--color-block);

    padding: 1em;
    font-size: 1rem;
    border-radius: 0.5em;

    max-width: max-content;
}

.block__input {
    display: inline;
    height: 1rem;
    width: 4rem;

    border: none;
    border-radius: 0.5em;

    background: var(--color-font-dark);
    color: var(--color-dark);
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    padding: .2em;
}

.workplace__play {
    display: grid;
    background: var(--color-font-dark);
    padding: 1rem;

    place-items: center;
    cursor: pointer;

    border-radius: 50%;
    /*box-shadow: -2px 2px 5px var(--color-trans-dark);*/
    transition: all 0.3s ease-in;
}

.workplace__play .fas {
    display: grid;
    place-items: center;
    font-size: 1rem;
    color: var(--color-block);
}

.workplace__play:hover {
    /*box-shadow: -2px 2px 5px var(--color-hover-dark);*/
}

.workplace__play:active .fas{
    color: var(--color-hover-dark);
}

.workplace__save {
    display: flex;
    align-items: center;
    gap: 1em;
}

.workplace__save input {
    padding: 0.5em 1em;

    border: 1px solid var(--color-trans-dark);
    border-radius: 0.5em;

    font-size: 0.8rem;
    font-family: inherit;
    color: var(--color-dark);
}

.workplace__save img {
    width: 2.5em;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.workplace__save img:hover {
    transform: scale(1.1);
}

.workplace__actions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.message {
    position: absolute;
    background: var(--color-font-dark);
    color: var(--color-block);
    min-width: 2em;
    text-align: center;

    border-radius: 30px;
    padding: 1em;
    box-shadow: 1px 1px 15px var(--color-dark),
                -1px -1px 15px var(--color-dark);
}

.message {
    border-radius: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.message:before,
.message:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

.message:before,
.message:after {
    left: .3em;
    bottom: -.9em;
    width: 1em;
    height: 1em;
    background: var(--color-font-dark);
    box-shadow: 1px 1px 3px var(--color-dark),
                -1px -1px 3px var(--color-dark);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

.message:after {
    width: 0.5em;
    height: 0.5em;
    left: 0.2em;
    bottom: -1.3em;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.workplace__trash {
    position: absolute;
    max-width: 4em;

    left: 2em;
    bottom: 7%;
    transition: all 0.3s ease-in;
}
